.navbar {
    background-color: #afffc3;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    vertical-align: 50px;
}

body::after {
    content: "";
    background-image: url("https://images8.alphacoders.com/457/457857.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}