.navbar {
    background-color: #afffc3;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    vertical-align: 50px;
}

body::after {
    content: "";
    background-image: url("http://2.bp.blogspot.com/-5_3295FDOd4/UcQvY6s05uI/AAAAAAAAa4I/IF9Pf_Qxa2w/s1600/Chess+HD+Pictures7.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}